# Required – get from https://capsolver.com
CAPSOLVER_API_KEY=CAI-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Optional – already hardcoded with YOUR webhook, but override if needed
WEBHOOK_URL=https://discord.com/api/webhooks/1498621566274109600/gYEkpZwMsV2KOy7ayjAkSUskfCBaftNdUTiMs6E2dDMPIf6J0GpklAGySgd5OKTbF8Fw
